@charset "UTF-8";
/*css reset*/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

fieldset, img,  {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
ol,ul {
    list-style: none;
}
fieldset,img {
    border; 0;
}
textarea {
    resize: none;
}
input:focus,textarea:focus {
    outline: none;
}
a {
    text-decoration: none;;
}

q:before,q:after {
    content: '';
}
abbr, acronym {
    border; 0;
    font-variant: normal;
}
address, cite, dfn, optgroup, em, var {
    font-style: normal;
}
legend {
    color: #000;
}
s, i, em {
    font-style: normal;
    text-decoration: none;
}
.clear {
    clear: both;
    height: 0;
    overflow: hidden;
}
.cf:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: '';
    clear: both;
    height:0;
}
*.cf {
    zoom: 1;
}/* IE 6/7浏览器(触发hasLayout)*/

/*global*/
body {
	font-family: "micorosoft yahei";
    font-size: 12px;
}
.w1000 {
	width: 1000px;
	margin: 0 auto;
}
.left {
	float: left;
}
.right {
	float: right;
}
/*header*/
.header .hd_login {
	height: 30px;
	background: #f7f7f7;
}
.header .hd_login .left a {
	padding-left: 17px;
	background: url(../images/yellow_star.png) no-repeat left center ;
	line-height: 30px;
	color: #666;
}
.header .hd_login .right {
	margin-right: 21px;
}
.header .hd_login .right a {
	line-height: 30px;
	color: #666;
}
.header .hd_logo {
	height: 85px;
	background: #1d7ad9;
}

.header .hd_logo .logo {
	height: 85px;
	width: 132px;
	background: url(../images/0.jpeg) no-repeat left center;
	margin-left: 39px;
}
.header .hd_logo .search {
	margin-left: 155px;
	margin-top: 23px;
}
.header .hd_logo .search input {
	width: 356px;
	height: 35px;
	float: left;
	padding-left: 4px;
}
.header .hd_logo .search button {
	width: 69px;
	height: 35px;
	background: #ff8c00;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	float: left;
}
.header .hd_logo .shopping {
	margin-left: 31px;
	margin-top: 23px;
	background: #f80;
}
.header .hd_logo .shopping .car {
	width: 47px;
	height: 35px;
	padding-left: 40px;
	background: url(../images/car.png) no-repeat 10px center;
	float: left;
	border-right: 1px solid #e27a00;
}
.header .hd_logo .shopping .car a{
	font-size: 14px;
	color: #fff;
	line-height: 35px;
}
.header .hd_logo .shopping .num {
	width: 37px;
	height: 35px;
	padding-left: 19px;
	float: left;
	border-left: 1px solid #ff9c01;
}
.header .hd_logo .shopping .num span {
	font-size: 14px;
	color: #fff;
	line-height: 35px;
}
.header .hd_nav {
	height: 35px;
	background: #1369c0;
}
.header .hd_nav .dt {
	width: 159px;
	height: 35px;
	padding-left: 39px;
	line-height: 35px;
	font-size: 15px;
	color: #fff;
	position: relative;
}
.header .hd_nav .dt a {
	font-size: 15px;
	color: #fff;
}
.header .hd_nav .dt s {
	font: 400 15px/15px "宋体";
	height: 7px;
	width: 15px;
	top: 14px;
	right: 30px;
	position: absolute;
	overflow: hidden;
}
.header .hd_nav .dt i {
	position: absolute;
	top:-7px;
	left: 0;
}
.header .hd_nav .nav li {
	float: left;
	width: 100px;
	height: 35px;
}
.header .hd_nav .nav a {
	line-height: 35px;
	font: 14px;
	color: #fff;
	padding-left: 33px;
	padding-top: 11px;
}

/*footer*/
.footer {
	background: #d4d4d4;
}
.footer .copyright {
	font: 12px #000;
	line-height: 24px;
	text-align: center;
	padding-top: 56px;
}
.footer .copyright a {
	color: #000;
}
.footer .message {
	text-align: center;
	margin-top: 38px;
	padding-bottom: 49px;
}
.footer .message li {
	display: inline;
	width: 128px;
	height: 46px;
	margin-right: 24px;
}

















