.hd_nav .items {
	width: 161px;
	height: 36px;
	border: 1px solid #5aa1fe;
	background: url(../images/arrow.png) no-repeat    173px 17px #4593fd;
	padding: 13px;
}
.hd_nav .items dt {
	font-size: 14px;
	line-height: 18px;
}
.hd_nav .items dt a {
	
	color: #fff;
}
.hd_nav .items dt span {
	font-size: 11px;
	border-radius: 10px;
	background: #106ac0;
	padding: 3px;
	margin-left: 12px;
}
.hd_nav .items dd a {
	font-size: 12px;
	color: #c2d9f8;
}
.body .w1000{
	position: relative;
}
.top_banner {
	width: 811px;
	height: 330px;
	float: right;
	position: absolute;
	left: 189px;
	top: 0;
	

}