/*css reset*/
* {
    margin: 0;
    padding: 0;
}
.w1000 {
    width: 1000px;
    margin: 0 auto;
}
.w460 {
    width: 460px;
    margin: 0 auto;
}
a {
    text-decoration: none;;
}
.left {
    float: left;
}
.right {
    float: right;
}
body {
    font: 12px "micorosoft yahei";
}
/*header*/
.header .hd_login {
    height: 30px;
    background: #f7f7f7;
}
.header .hd_login .left a {
    padding-left: 17px;
    background: url(../images/yellow_star.png) no-repeat left center ;
    line-height: 30px;
    color: #666;
}
.header .hd_login .right {
    margin-right: 21px;
}
.header .hd_login .right a {
    line-height: 30px;
    color: #666;
    border: 2px solid #e81c73;
}
.hd_logo {
    height: 85px;
    background: #1d7ad9;
}
.w460 {
    position: relative;
}
.hd_logo img {
    margin-top: 25px;
}
.hd_logo span {
    position: absolute;
    color: #fff;
    font-size: 22px;
    left: 300px;
    top: 30px;
}
/*main*/
.main {
    border: 1px solid #e8e8e8;
    margin-top: 10px;
}
.login {
    margin-top: 25px;
    margin-left: 85px;
}
.login dt {
    margin-top: 15px;
    color: #999;
}
.login dd input {
    margin-top: 4px;
    padding: 13px 10px;
    width: 285px;
    border: 1px solid #ccc;
}
.login_n input {
    background: url(../images/p71.png) no-repeat 280px;
}
.login_p input {
    background: url(../images/p72.png) no-repeat 280px;
}
.login_e {
    margin-top: 25px;
    margin-left: 3px;
}
.login_e a {
    margin-left: 10px;
    color: #000;
}
.login button {
    margin-top: 30px;
    margin-bottom: 34px;
    width: 305px;
    height: 35px;
    text-align: center;
    font-size: 15px;
    color: #606060;
    background: url(../images/button.png) repeat-x;
    border: none;
}
.other dt {
    color: #999;
    margin-left: 88px;
    margin-bottom: 8px;
}
.other dd {
    margin-left: 88px;
    margin-bottom: 22px;
}
.other dd li {
    display: inline-block;
    padding-right: 2px;
    border-right: 1px solid #dbdbdb;
}
.other dd a {
    color: #666;
}