body {
    background-color: #f0f0f0;
}
.body .m_header {
    height: 52px;
    line-height: 52px;
}
.body .m_header a {
    color: #555;
    margin-right: 6px;
}
.body .m_header .index {
    font-weight: 500;
}
.body .m_top {
    border:1px solid #ddd;
    height: 589px;
    background: #fff;
}
.body .m_top .left {
    text-align: center;
    border-right: 1px solid #ddd;
    width: 309px;
    height: 589px;
}
.body .m_top .top1 {
    margin: 17px 51px 18px 56px;
}
.body .m_top .des {
    float: left;
    width: 688px;
}
.body .m_top .des .dt {
    margin-top: 27px;
    margin-left: 25px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}
.body .m_top .price {
    margin-top: 18px;
    margin-left: 25px;
}
.body .m_top .price dt {
    display: inline-block;
    color: #666;
}
.body .m_top .price dd {
    display: inline-block;
    font-size: 17px;
    color: #d70000;
    margin-left: 20px;
}
.body .m_top .pre {
    margin-top: 20px;
    margin-left: 25px;
}
.body .m_top .pre dt {
    display: inline-block;
    color: #666;
}
.body .m_top .pre  dd {
    display: inline-block;
    color: #666;
    padding-left:60px;
    margin-left: 31px;
    background: url(../images/trade.png) no-repeat left top;
    padding-top: 5px;
}
.body .m_top .wrap {
    margin-top:12px;
    margin-left: 9px;
    margin-right: 10px;
    background: #f2f2f2;
    overflow: hidden;

}
.body .m_top .wrap .address {
    margin-left: 15px;
    margin-top: 24px;
}
.body .m_top .wrap .address dt {
    display: inline-block;
    color: #666;
}
.body .m_top .wrap  .address dd {
    display: inline-block;
    color: #666;
}
.body .m_top  .address dd select {
    border: 1px solid #ddd;
    margin-left: 33px;
    margin-right: 10px;
    color: #666;
}
.body .m_top .color {
    margin-top: 19px;
    margin-left: 15px;
    
}
.body .m_top .color dt {
    display: inline-block;
    color: #666;
}
.body .m_top .color dd {
    display: inline-block;
    margin-left: 12px;
    color: #666;

}
.body .m_top .color dd span {
    display: inline-block;
    width: 82px;
    height: 32px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 32px;
    background: #fff;
    margin-right: 10px;
}
.body .m_top .spec {
    margin-top: 16px;
    color: #666;

}
.body .m_top .spec dt {
    display: inline-block;
    margin-left: 15px;
    float: left;
    margin-top: 27px;
}
.body .m_top .spec dd {
    display: inline-block;
    margin-left: 15px;
    overflow: hidden;
    width: 550px;
}
.body .m_top .spec  dd span {
    display: inline-block;
    padding: 9px 7px;
    border: 1px solid #ccc;
    margin-right: 10px;
    float: left;
    margin-bottom: 8px;
    background: #fff;
}
.body .m_top .num {
    color: #666;
}
.body .m_top .num dt {
    display: inline-block;
    margin-right:37px;
    margin-left: 15px;
    margin-bottom: 25px;

}
.body .m_top .num dd {
    display: inline-block;
}
.body .m_top .num input {
    width: 50px;
    height: 32px;
    text-align: center;
}
.body .m_top .num .p_m {
    display: inline-block;
    width: 15px;
    height: 32px;
    border: 1px solid #ddd;
    line-height:32px;
    text-align: center;
}
.body .m_top .num .text {
    margin-left: 12px;
}
.body .m_top .num strong {
    color: #fc7700;
}
.body .m_top .selected {
    margin-top: 24px;
    margin-left: 28px;
    color: #666;
}
.body .m_top .selected span {
    margin-left: 12px;
    color: #0479ca;
}
.body .m_top .buy {
    margin-top: 33px;
    margin-left: 84px;
}
.body .m_top .buy a {
    display: inline-block;
    width: 116px;
    height: 33px;
    background: #f88600 url(../images/car.png) no-repeat 30px 13px;
    padding-left: 68px;
    padding-top: 15px;
    font-size: 18px;
    color: #fff;
    margin-right: 80px;
    border: 2px solid #e81c73;
}
.body .m_top .des p {
    margin-top: 42px;
    margin-left: 29px;
    color: #999;
}
.m_side .choice {
    width: 189px;
    border: 1px solid #ddd;
    margin-top: 15px;
}
.m_side .choice dt {
    font-size: 15px;
    font-weight: 500;
    padding: 16px;
    border-bottom: 1px solid #ddd;
}
.m_side .choice dd {
    background-color: #fff;
}
.m_side .choice dd .img {
    text-align: center;
    padding-top: 18px;
    margin-bottom: 15px;
}
.m_side .choice dd p {
    line-height: 18px;
    color: #999;
    margin-bottom: 8px;
    margin-left: 22px;
    margin-right: 22px;
}
.m_side .choice dd span {
    color: #de0000;
    margin-left: 22px;
}
.m_comment {
    margin-left: 23px;
    margin-top: 15px;
}
.m_comment .c_nav {
    height: 40px;
    border: 1px solid #ddd;
}
.m_comment .c_nav .info {
    display: inline-block;
    background: #0479ca url(../images/info1.png) no-repeat 134px 14px;
    width: 378px;
    height: 40px;
    text-align: center;
    line-height:40px;
    cursor: pointer;
    color: #fff;
}
.m_comment .c_nav .pe {
    display: inline-block;
    background: #f0f0f0 url(../images/pe1.png) no-repeat 134px 14px;
    width: 402px;
    height: 40px;
    border-left:1px solid #ddd;
    text-align: center;
    line-height:40px;
    cursor: pointer;
}
.m_comment .p_info {
    border: 1px solid #ccc;
    background: #fff;
    width: 784px;
}
.m_comment .p_info-banner {
    margin-left: 135px;
    margin-top: 30px;
}
.m_comment .p_info dt  {
    width: 749px;
    border-bottom: 2px solid #d7d7d7;
    margin-top: 50px;
    margin-left: 19px;
}
.m_comment .p_info dt span {
    font-size: 16px;
    color: #2457a6;
    border-bottom: 2px solid #2457a6;
}
.m_comment .p_info dd {
    font-size: 14px;
    line-height:22px;
    margin-top: 18px;
    margin-left: 18px;
    color: #666;
}
.m_comment .p_info-pic img {
    margin: 40px 22px 50px;
    display: block;
}
.m_comment .scores {
    height: 159px;
    background-color: #fff;
}
.m_comment .scores h3 {
    margin-top:12px;
    margin-left:10px;
    font-size: 14px;
}
.m_comment .scores_l {
    display: inline-block;
    margin-top: 36px;
}
.m_comment .scores_l span {
    font-size: 17px;
    color: #66667d;
}
.m_comment .scores_l span:first-child {
    font-size: 38px;
    color: #ff8f00;
    margin-left: 8px;
}
.m_comment .scores_r {
    display: inline-block;
    position: relative;
}
.m_comment .scores_r span {
    padding: 0 30px;
    background: #bdbdbd;
    float: left;
    margin-bottom: 10px;
    color: #fff;
}
.m_comment .scores_r i {
    position: absolute;
    width: 27px;
    height: 20px;
    left: 470px;
    top: -20px;
    background: url(../images/4.7.png) no-repeat ;
    color: #fff;
    text-align: center;
    line-height:20px;
    font-size: 9px;
}
.m_comment .scores_r p {
    margin-left:10px;
}
.m_comment .user_nav {
    height: 32px;
    background: #f2f2f2;
    line-height: 32px;
}
.m_comment .user_nav li {
    display: inline-block;
    margin: 0 29px;
    line-height: 25px;
}
.m_comment .user_nav .current {
    border-bottom: 3px solid #317ee7;
}
.m_comment .user_nav li:hover {
    border-bottom: 3px solid #317ee7;
}
.m_comment .user_nav .right {
    position: relative;
}
.m_comment .user_nav  span {
    width: 67px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    border: 1px solid #ddd;
    padding-left: 6px;
    background: url(../images/arrow2.png) no-repeat 58px center;
}
.m_comment .user_nav i {
    width: 28px;
    height: 16px;
    position: absolute;
    background: url(../images/new.png) no-repeat;
    top: -10px;
    left: 115px;
}
.m_comment .user_comment {
    overflow: hidden;
    background-color: #fff;

}
.m_comment .user_comment .dt {
    margin: 18px 70px 16px 40px;
    display: inline-block;
}
.user_comment .dt p {
    margin-top: 10px;
    margin-left: 8px;
    color: #a4a4b2;
}
.user_comment .dd {
    display: inline-block;
    height: 100px;
    width: 610px;
}
.dd_nav {
    width: 610px;
    height: 12px;
    line-height:12px;
    margin-top: 26px;
}
.dd_nav .left {
    width: 145px;
    padding-left: 86px;
    background: url(../images/star.png) no-repeat;
}
.dd_nav .right {
    color: #ababab;
    margin-right: 24px;
    font-size: 10px;
}
.dd p {
    color: #777;
    margin-top: 20px;
}
.dd .dd_j {
    margin-top: 20px;
}
.dd .dd_j span {
    margin-right: 10px;
    color: #085c9b;
}
.m_comment .c_footer {
    padding-top: 33px;
    padding-left: 275px;
    height: 23px;
    padding-bottom: 35px;
    background: #fff;
}
.m_comment .c_footer li {
    float: left;
    display: inline;
    font-size: 12px;
    line-height:12px;
    margin-right: 5px;
}
.m_comment .c_footer li a {
    border: 1px solid #ddd;
    display: block;
    padding: 5px 7px;
    color: #333;
}
.m_comment .c_footer li a:hover {
    background-color: #2266bb;
}
.m_comment .c_footer li span {
    margin-top:5px;
    display: block;
}
.m_comment .c_footer .goto {
    margin-left: 11px;
    color: #666;
}
.m_comment .c_footer .goto strong {
    display: inline-block;
    padding: 7px 15px;
    border: 1px solid #ddd;
}
.m_counsel {
    width: 784px;
    background-color: #fff;
    margin-top: 15px;
    margin-left: 23px;
}
.m_counsel .top {
    width: 784px;
    height: 32px;
    line-height:32px;
    border-bottom: 1px solid #0688ba;
    color: #076ebb;
}
.m_counsel .top .left {
    width: 130px;
    height: 32px;
    text-align: center;
    border: 1px solid #0688ba;
    border-bottom: none;
}
.m_counsel .top .right a {
    color: #076ebb;
    margin-right: 26px;
}
.m_counsel .info {
    padding: 12px 20px;
    background: #f3f3f3;
    margin-left: 21px;
    margin-top: 9px;
}
.user_counsel {
    height: 143px;
    background-color: #fff;
}
.user_counsel dt {
    text-align: center;
    padding: 22px 34px 42px 51px;
    display: inline-block;
}
.user_counsel dt p {
    color: #777;
    margin-top: 8px;
}
.user_counsel dd {
    display: inline-block;
    width: 606px;
}
.user_counsel dd .head {
    height: 12px;
    margin-top: 25px;
}
.user_counsel .head .left {
    font-weight: 500;
}
.user_counsel .head .right span {
    margin-right:12px;
    color: #ababab;
}
.user_counsel dd p {
    margin-top: 14px;
    color: #777;
}
.user_counsel dd p span {
    display: block;
    padding:22px 0 ;
    background-color: #f1f1f1;
}
.m_counsel .c_footer {
    padding-top: 28px;
    padding-left: 463px;
    height: 23px;
    padding-bottom: 35px;
    background: #fff;
}
.m_counsel .c_footer li {
    float: left;
    display: inline;
    font-size: 12px;
    line-height:12px;
    margin-right: 5px;
}
.m_counsel .c_footer li.current a {
    background: #e9e9e9;
    color: #d41079;
}
.m_counsel .c_footer li a {
    border: 1px solid #ddd;
    display: block;
    padding: 5px 7px;
    color: #333;
}
.m_counsel .c_footer li a:hover {
    background-color: #2266bb;
}
.m_counsel .c_footer li span {
    margin-top:5px;
    display: block;
}
.m_counsel .c_footer .goto {
    margin-left: 11px;
    color: #666;
    height: 24px;
    line-height:24px;
}
.m_counsel .c_footer .goto input {
    width: 30px;
    height: 20px;
    border: 1px solid #d3d3d3;
}
body>.footer {
    margin-top: 30px;
}
